:root {
  --orange: #e08d21;
  --light-gray: #282828;
  --dark-gray: #161616;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  background: var(--dark-gray);
  /* overflow: hidden; */
  color: white;
}

.login-page {
  display: flex;
}

.login-image,
.login-form {
  width: 50%;
  height: 100vh;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 130px;
}

.logo {
  display: flex;
  align-items: center;
  margin-top: 75px;
  margin-bottom: 50px;
}

nav button,
.nav-footer a {
  color: white;
}

.logo p {
  font-weight: bold;
  font-size: 1em;
  margin-left: 15px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 550px;
}

h1 {
  font-weight: 700;
  font-size: 60px;
  margin-bottom: 15px;
}

form p {
  font-size: 14px;
  font-weight: 300;
}

.login-instruction {
  margin-bottom: 45px;
}

label {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 10px;
}

input,
.sign-in-button {
  width: 400px;
  height: 60px;
}

input,
input::placeholder,
.sign-in-button {
  font-size: 16px;
  margin-bottom: 40px;
}

input {
  border: none;
  border-radius: 10px;
  padding: 0 15px;
}

input:focus {
  outline: 2px solid var(--orange);
}

.sign-in-button {
  background-color: var(--orange);
  border: none;
  font-weight: 700;
  font-size: 24px;
  color: white;
  margin-bottom: 20px;
}

.forgot-link {
  color: var(--orange);
}

.customer-dashboard {
  display: flex;
}

nav {
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--light-gray);
  height: 100vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  font-size: 24px;
  padding-top: 40px;
}

.customer-greeting {
  margin-bottom: 30px;
  font-size: 24px;
}

nav button {
  width: 80%;
  height: auto;
  aspect-ratio: 5 / 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: none;
  border-radius: 24px;
  background: none;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 20px;
}

nav button img {
  width: 20px;
  height: auto;
  margin: 0 15px;
}

.toggle-arrow {
  margin-left: 60px;
}

nav button:hover,
li {
  background-color: var(--dark-gray);
}

button,
li {
  cursor: pointer;
}

.nav-button {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  border: none;
  background: none;
  text-align: left;
  transition: all 0.3s ease;
}

.nav-button.active {
  background-color: var(--dark-gray);
}

.dropdown-options {
  border-left: 1px solid white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.dropdown-options.active {
  max-height: 200px;
}

.toggle-arrow {
  margin-left: auto;
  transition: transform 0.5s ease;
}

.rotate {
  transform: rotate(180deg);
}

li button {
  margin: 0;
  width: 120px;
}

.nav-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 20%;
  position: fixed;
  bottom: 0;
  justify-content: center;
}

.nav-footer a {
  font-size: 12px;
  text-align: center;
  font-weight: 300;
  text-decoration: none;
}

.nav-footer a:first-child {
  font-weight: 700;
}

.nav-footer-links {
  margin-bottom: 5px;
}

.nav-footer-links:first-of-type {
  margin-bottom: 10px;
}

.nav-footer-links:last-of-type {
  margin-bottom: 20px;
}

.portfolio-links {
  width: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.portfolio-link {
  width: 20px;
  height: auto;
}

.dashboard-info {
  width: 80%;
  height: 100vh;
  padding: 40px;
  position: fixed;
  right: 0;
  overflow-y: scroll;
}

.dashboard-info h3 {
  font-weight: 700;
  font-size: 24px;
}

.content {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.module {
  width: 220px;
  height: auto;
  aspect-ratio: 1 / 1;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  text-align: center;
  background-color: var(--light-gray);
}

.upcoming-visits .module {
  background: url('../images/single.jpg') center/cover;
}

.past-visits .module {
  background: url('../images/residential-suite.jpg') center/cover;
}

.module-button {
  background-color: white;
  color: var(--dark-gray);
  font-size: 14px;
  font-weight: 500;
  border: none;
  height: 45px;
  padding: 0 10px;
  border-radius: 20px;
  align-self: flex-start;
  margin-top: auto;
}

.date {
 text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.spend-link {
  text-decoration: underline;
  font-weight: 700;
  cursor: pointer;
}

.dashboard-section,
.dashboard-section h3 {
  margin-bottom: 20px;
}

.date {
  width: 70%;
  font-weight: 700;
  font-size: 16px;
}

.room-finder {
  background-color: var(--light-gray);
  border-radius: 40px;
}

.header {
  background-color: var(--light-gray);
  height: 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  margin-bottom: 30px;
}

.left-header-links {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 24px;
}

.left-header-links ul {
  display: flex;
  margin-left: 20px;
  list-style-type: none;
}

.left-header-links li {
  text-decoration: none;
  background: none;
  margin: 0 15px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}

.header button {
  height: 40px;
  width: 120px;
  border-radius: 50px;
  border: none;
  background-color: var(--orange);
  color: white;
  font-size: 14px;
  font-weight: 500;
}

.welcome-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 350px;
  width: 90%;
  margin: 0 auto;
  border-radius: 20px;
  margin-bottom: -40px;
  background: url('../images/welcome-section.jpg') center/cover;
  background-position: center calc(100% + 150px);
}

.welcome-section h5 {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 20px;
}

.welcome-section p {
  font-weight: 300;
  font-size: 20px;
}

.room-finder {
  height: 80px;
  width: 55%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
}

.room-finder label {
  font-size: 14px;
  font-weight: 700;
  margin-left: 15px;
}

.room-finder div:nth-of-type(2),
.room-finder div:nth-of-type(3) {
  border-left: 0.5px solid white;
}

.room-finder div input {
  width: 100%;
  margin: 0;
  background: none;
  color: white;
}

.room-finder::placeholder {
  font-size: 14px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
}

.room-finder div {
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 30%;
}

.room-finder button {
  background-color: var(--orange);
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  rotate: 90deg;
}

.room-finder button img {
  height: 25px;
  width: auto;
}

.popular-rooms,
.amenities {
  margin: 0 auto;
  margin-top: 30px;
  height: 400px;
  width: 90%;
  font-weight: 500;
  font-size: 20px;
}

.room-container {
  display: flex;
  height: 400px;
}

.room-module {
  border-radius: 20px;
  aspect-ratio: 1.5 / 1;
  width: 33%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 10px;
  margin: 10px;
}

.room-module:nth-of-type(1) {
  background: url('../images/residential-suite.jpg') center/cover;
  margin-left: 0;
}

.room-module:nth-of-type(2) {
  background: url('../images/suite.jpg') center/cover;
}

.image-container {
  width: 33%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.image-container > .room-module {
  height: 45%;
  width: 100%;
  margin-left: 0;
}

.image-container div:nth-of-type(1) {
  background: url('../images/single.jpg') center/cover;
  background-position: center calc(100% + 70px);
}

.image-container div:nth-of-type(2) {
  background: url('../images/junior-suite.jpg') center/cover;
  background-position: center calc(100% + 240px);
}

.room-module button,
.amenity button {
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
}

.amenities {
  overflow: hidden;
}

.amenities-container {
  display: flex;
  justify-content: center;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.amenities-scroller:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  from {
    transform: translateX(25%);
  }
  to {
    transform: translateX(-25%);
  }
}

.amenity {
  border-radius: 20px;
  aspect-ratio: 1 / 1;
  height: 310px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 10px;
  margin: 10px;
}

.amenities-scroller {
  width: max-content;
  display: flex;
  flex-wrap: nowrap;

  @media (prefers-reduced-motion: no-preference) {
    animation: scroll 25s linear infinite;
  }
}

.amenities-scroller .amenity:nth-of-type(1),
.amenities-scroller .amenity:nth-of-type(5) {
  background: url('../images/breakfast.jpg') center/cover;
  background-position: center calc(100% + 20px);
}

.amenities-scroller .amenity:nth-of-type(2),
.amenities-scroller .amenity:nth-of-type(6) {
  background: url('../images/lobby.jpg') center/cover;
}

.amenities-scroller .amenity:nth-of-type(3),
.amenities-scroller .amenity:nth-of-type(7) {
  background: url('../images/luxury-pool.jpg') center/cover;
}

.amenities-scroller .amenity:nth-of-type(4),
.amenities-scroller .amenity:nth-of-type(8) {
  background: url('../images/bar.jpg') center/cover;
}

footer {
  width: 100%;
  height: 150px;
  background-color: var(--light-gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 70px;
}

.left-footer {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left-footer p:first-of-type {
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 10px;
}

.left-footer p:last-of-type {
  font-weight: 300;
  font-size: 12px;
}

.left-footer img {
  height: 25px;
  width: auto;
}

.left-footer img:first-of-type {
  margin-right: 20px;
}

.right-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  height: 70%;
}

.right-footer a {
  color: white;
  text-decoration: none;
  font-size: 12px;
  font-weight: 300;
}

.right-footer a:first-of-type {
  font-weight: 700;
}

.hidden {
  display: none;
}
